<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="/assets/css/master_b-master.css?126029968"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/about_us.css?4069219989" id="pagesheet"/>
<% end %>

<div class="clearfix" id="page"><!-- column -->
 <div class="position_content" id="page_position_content">
  <div class="clearfix colelem" id="u1800"><!-- group -->
 <div class="clearfix grpelem" id="u1804"><!-- group -->
  <div class="shadow gradient grpelem" id="u1805"><!-- simple frame --></div>
</div>
<div class="grpelem" id="u1806"><!-- image -->
  <img class="block" id="u1806_img" src="images/search.png" alt="" width="580" height="100"/>
</div>
<a class="nonblock nontext grpelem" id="u1810" href="product-search.html"><!-- image --><img class="block" id="u1810_img" src="images/submit-button-small.png" alt="" width="187" height="60"/></a>
<div class="grpelem" id="u1808"><!-- custom html -->
  <br>
  <div id="search-container" class="container">
    <h2 class="pull-left"></h2>
    <input class="search_bar xxlarge pull-left" id="search" name="search" " size="16" row="2" font size="40px" onkeyup="checkSearchVal()" placeholder="Text" type="text" />
  </div>


</div>
  <div class="grpelem" id="u1801"><!-- image -->
    <img class="block" id="u1801_img" src="images/goorgo-logo.png" alt="" width="193" height="77"/>
  </div>
  <div class="clearfix grpelem" id="u1803-4"><!-- content -->
    <p>goorgo.com</p>
  </div>
</div>
<div class="clearfix colelem" id="u959-9"><!-- content -->
 <p id="u959-2"><%= @page.title %></p>
 <p id="u959-6">
<%= @page.content.html_safe %>
 </p>
 <p id="u959-7">&nbsp;</p>
</div>
<div class="verticalspacer"></div>
<div class="clearfix colelem" id="u1876"><!-- group -->
 <div class="clearfix grpelem" id="pu1389"><!-- column -->
  <a class="nonblock nontext colelem" id="u1389" href="index.html"><!-- image --><img class="block" id="u1389_img" src="images/goorgo-logo.png" alt="" width="233" height="93"/></a>
  <div class="clearfix colelem" id="u1394-7"><!-- content -->
   <p>©&nbsp; 2013 <a class="nonblock" href="index.html">www.GoorGo.com</a>&nbsp;All Rights Reserved</p>
 </div>
</div>
<div class="clearfix grpelem" id="pu1391-4"><!-- column -->
  <div class="clearfix colelem" id="u1391-4"><!-- content -->
   <p id="u1391-2">Help</p>
 </div>
 <div class="clearfix colelem" id="u1393-14"><!-- content -->
   <p id="u1393-3"><%= link_to "HOME", root_path, class: "nonblock" %></p>
   <p id="u1393-6"><%= link_to "About us", about_us_path, class: "nonblock" %></p>
   <p id="u1393-9"><%= link_to "Privacy", privacy_path, class: "nonblock" %></p>
   <p id="u1393-12"><%= link_to "Terms of Use", term_of_use_path, class: "nonblock" %></p>
 </div>
</div>
<div class="clearfix grpelem" id="pu1420-4"><!-- column -->
  <div class="clearfix colelem" id="u1420-4"><!-- content -->
   <p id="u1420-2">Catalogue</p>
 </div>
 <div class="clearfix colelem" id="u1392-4"><!-- content -->
   <p id="u1392-2">Books | Cameras &amp; Camcorders | Mobiles &amp; Accessories | Apparel &amp; Accessories | Jewellery &amp; Watches | Electronics | Home &amp; Kitchen | Toys &amp; Games | Gifts &amp; Flowers | Computer &amp; Peripherals | Kids &amp; Baby | Health &amp; Beauty | Household Appliances | Footwear | Clothing | Accessories | Watches | Office &amp; Stationary | All Brands</p>
 </div>
</div>
</div>
</div>
</div>